<div class="center">
    <h1>{{selectedSection | titlecase }}</h1>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item *ngFor='let s of sections' (click)='selectedSection = s; getArticles()'>{{s | titlecase }}
        </button>
    </mat-menu>

    <button mat-raised-button [matMenuTriggerFor]="appMenu">
        Sections
    </button>
</div>
<br>

<mat-card *ngFor='let r of results'>
    <mat-list role="list">
        <mat-list-item>
            <mat-card-title>
                {{r.title}}
            </mat-card-title>
        </mat-list-item>
    </mat-list>
    <mat-card-subtitle>
        <mat-list role="list">
            <mat-list-item>Published Date: {{r.published_date | date: 'full' }}</mat-list-item>
            <mat-list-item><a href='{{r.url}}'>Link</a></mat-list-item>
            <mat-list-item *ngIf='r.byline'>{{r.byline}}</mat-list-item>
        </mat-list>
    </mat-card-subtitle>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item>{{r.abstract}}</mat-list-item>
        </mat-list>
        <img *ngIf='r.multimedia[r.multimedia.length - 1]?.url' [src]='r.multimedia[r.multimedia.length - 1]?.url'
            [alt]='r.multimedia[r.multimedia.length - 1]?.caption' class="image">
    </mat-card-content>
</mat-card>